<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.arabicphoneticv2</string>
	<key>CFBundleName</key>
	<string>arabic_phonetic_collection_V2</string>
	<key>CFBundleVersion</key>
	<string>2.0.6</string>
	<key>KLInfo_Arabic Phonetic AZERTY</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.arabicphoneticv2.arabicphoneticazerty</string>
		<key>TISIntendedLanguage</key>
		<string>ar</string>
	</dict>
</dict>
</plist>
